div.notification-preview {
    position:relative;

    div.notification-preview-wrapper {
        padding-top:1rem;
        display:block;
      

        div.phone {
            width:500px;
            height:600px;
            margin: 0 auto;
           
            display:block;

            &.android {
                background-image: url('/images/push/pixel3-mockup.svg') ;
                background-repeat:no-repeat;
                background-position: top center;

                .notification {
                
                        position: relative;
                        top: 200px;
                        display: block;
                        width: 330px;
                        margin: 0 auto;
                
                        .notification-wrapper {
                
                            border-radius: 28px;
                            background-color: rgb(255, 255, 255);
                            box-shadow:2px 2px 5px rgba(64,64,64,.2);
                            display:grid;
                            grid-template-columns: 24px auto 24px;
                            grid-template-areas: "icon header collapse"
                            "blank title title"
                            "blank message message";
                            gap: 10px 15px;
                            padding: 20px 16px;
                
                
                            .notification-icon {
                                padding: 5px;
                                display:flex;
                                justify-content: center;
                                align-items: center;


                                .notification-icon-wrapper {
                                    border-radius: 50px;
                                    background-color: hsla(0, 0%, 25%, 100%);
                                    padding: 5px;
                                    width: 24px;
                                    height: 24px;
                                    display:flex;
                                    justify-content: center;
                                    align-items: center;
                                   
                                    .android {
                                               
                                        color: rgb(255, 255, 255);
                                        font-size: 1em;
                                            
                                    }
                                }
                
                                
                            }

                            .notification-header {

                                display:grid;
                                grid-template:auto auto;
                                .notification-header-wrap {
                                    display:flex;
                                    align-items: center;
                                    font-size: 12px;
                                    font-family: 'Open Sans', sans-serif;

                                }

                            }

                            .notification-collapse {
                                display:flex;
                                align-items: center;
                                justify-content: center;
                                width:24px;
                                height:24px;
                                background-color:rgba(234,234,234,1);
                                border-radius: 30px;
                                padding:3px;

                                &:hover {
                                    background-color:rgba(222,222,222,1) !important;  
                                }

                            }

                            .notification-title {
                                width:100%;
                                grid-area: title / title / title / title;
                                text-overflow: ellipsis;
                                font-weight: 700;
                                font-size:14px;
                                color: rgba(23,22,22,1);
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                word-break: break-word;
                                
                            }

                            .notification-body {
                                width:100%;
                                grid-area: message / message / message / message;
                             
                                text-overflow: ellipsis;
                                line-height: 20px;
                                letter-spacing: 0.1px;
                                font-size:14px;
                                display: -webkit-box;
                                -webkit-line-clamp:4;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                align-self:start;
                                word-break: break-word;
                            }
                        }
                    }

                    
            }
            &.ios {
                background-image: url('/images/push/iphone-xs-max-mockup.svg');
                background-repeat: no-repeat;
                background-position: top center;

                .notification {
                    position: relative;
                    top:200px;
                    display:block;
                    width:370px;
                    margin:0 auto;

                    font-family: 'Open Sans',sans-serif;

                    .notification-wrapper {
                        display:grid;
                        grid-template-areas: "icon titlebody timethumbnail";
                        grid-template-columns: 36px auto 28px;
                        grid-template-rows: auto auto auto;
                        border-radius: 20px;
                        gap:0px 10px;
                        padding:12px 16px 12px 12px;
                        background:rgba(255,255,255,1);
                        box-shadow: 2px 2px 5px rgba(64, 64, 64, .2);
                        overflow-y: hidden;

                        .notification-icon {
                         
                            color: rgba(255, 255, 255, 1);
                            display:flex;
                            align-items: center;
                            justify-content: center;
                            grid-area: icon / icon / icon / icon;


                            .notification-icon-wrapper {
                                width:34px;
                                height:34px;
                                background: rgba(5,5,5,1);
                                border-radius: 10px;
                                display:flex;
                                justify-content: center;
                                align-items: center;

                                .ios {
                                    font-size:1.4em;
                                    color:rgb(255,255,255);
                                }


                            }
                           
                        }

                        .notification-header-body {
                            grid-area: titlebody / titlebody / titlebody / titlebody;
                            display:flex;
                            flex-direction: column;
                            justify-content: center;

                            .notification-title, .notification-subtitle{
                                 
                                width: 250px;
                                font-weight: 700;
                                font-size:12px;
                                display:block;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                max-height:75px;
                                white-space: nowrap;
                            }
                            
                            .notification-body{
                        
                                width: 100%;
                                line-height: 15px;
                                font-size: 12px;           
                                max-height: 200px;
                            
                                .notification-text {
                                    margin:0px;
                                    max-height: 75px;
                                    overflow: hidden;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 4;
                                    -webkit-box-orient: vertical;
                                    text-overflow: ellipsis;
                                }
                        
                        
                            }
                        }
                        .notification-time-thumbnail {
                            grid-area: timethumbnail / timethumbnail / timethumbnail / timethumbnail;
                            display:flex;
                            justify-content: center;

                            .notification-time {
                                font-size:12px;

                            }
                        }

                    }
                }
            }
            
        }

        .notification-device-picker {
            width: 300px;
            margin: 0 auto;
            padding:20px;
        }
    }
}



.no-show {
    display: none !important;
}

