.input-group {
    .btn-outline-emoji {
       
        border-left: none;
        border-right:$oan-border-width;
        border-top:$oan-border-width;
        border-bottom:$oan-border-width;
        border-top-style: solid;
        border-bottom-style:solid;
        border-right-style:solid;
        border-top-color:$btn-input-group-color;
        border-right-color: $btn-input-group-color;
        border-bottom-color: $btn-input-group-color;
        color:$btn-input-group-icon-color;

        &:hover {
            border-right: $oan-border-width;
            border-top: $oan-border-width;
            border-bottom: $oan-border-width;
            border-top-style: solid;
            border-bottom-style: solid;
            border-right-style: solid;
            border-top-color: $btn-input-group-color;
            border-right-color: $btn-input-group-color;
            border-bottom-color: $btn-input-group-color;
            color:$btn-input-group-icon-color-hover;
        }

        &:active {
            color:$btn-input-group-icon-color-active;
        }

    }

    .input-remove-right-border {
        border-right: none;
    }
}