
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
// Variables
@import "variables";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/dist/css/bootstrap.css';

@import 'oann/variable';
@import 'oann/push/create';
@import 'oann/push/forms';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.push-form {

	input {
		font-family: Helvetica,Arial,sans-serif;
		font-size:1.3em;
	}

	textarea {
		font-family:'Open Sans',Arial,sans-serif;
		font-size:1.3em;
		line-height:1.4em;
	}
}

#clockdiv {
    font-family:  Arial, sans-serif;
    font-weight: bold;
    font-size: 2em;

    &.red{
        color: #aa310b;
    }

    &.green {
        color: #1c7430;
    }

    &.hide {
        display:none;
    }

    &.show {
        display:block;
    }
}


.video-wrapper {
    display:block;
    padding:0px 5px;
    width:80%;
    margin:0 auto;
}


.wordpress-script {
    overflow: none;
}

.wordpress-code{
    background-color:#e9ecef;
}