.feature-img {
   
    display:block;

    img {
        width:100%;
        height:35vh;
    }
}

.article {
    margin-top:20px;
    .heading {
        h1 {
            font-family:$heading-primary-font;
            text-align: center;
            font-weight: 900;
            font-size: 2em;
        }

        hr {
            border:3px solid #BA0219;
            width:30%;
            
        }
    }

    .category {
        h3 {
            font-family:$heading-primary-font;
            text-align: center;
            font-size:1.3em;
            font-weight:900;
        }
    }

    .text {

        h5 {
            font-family:$content-primary-font;
            font-size:1em;
            font-weight: 400;
            text-align:justify;
        }
        img {
            width:100% !important;
            height: 250px !important;
        }

        div[id^='attachment_'] {
            width:100% !important;
        }

        p[id^='caption-attachment']{
            font-size:.6em;
            font-family:$content-primary-font;
            background-color:#f3f3f3;
            padding:4px;
        }

        p {
            font-family:$content-primary-font;
            font-size:1em;
            font-weight: 400;
        }

        figure.wp-block-video{
            width:100%;
            video {
                width:100%;
                height:244px;
            }
        }


    }


}