$heading-primary-font: 'Roboto', Helvetica ,Arial ,sans-serif;
$content-primary-font: 'Source Sans Pro', Helvetica,Arial,sans-serif;
$btn-input-group-color: #dee2e6;
$btn-input-group-icon-color:#B9B9B9;
$btn-input-group-icon-color-hover: #909090;
$btn-input-group-icon-color-active: #8A8A8A;
$oan-border-width: 1px;