@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* path {
    stroke: white;
    fill: #FBC140 !important;

    transition: fill .4s ease;
}

path:hover {
    fill: #1E76F7 !important;
} */

#us-map {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#details-box {
    padding: 1rem;
    border-radius: 8px;
    font-size: 24px;
    position: fixed;
    color: white;
    font-family: "Poppins";
    background-color: black;
    width: fit-content;
    transform: translateX(-50%);
    transition: opacity .4s ease;
    z-index: 1;
}

#state-details-box {
    position:fixed;
    border-radius: 8px;
    padding: 1rem;
    transition: opacity .4s ease;
    color:#fff;
    background-color: #000;
    z-index:1;
}


