@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.election-map {
  shape-rendering: geometricPrecision;
  stroke-linecap: round;
  stroke-linejoin: round;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.election-map .state-path {
  stroke: #efefef;
  stroke-width: 1px;
  transition: fill 0.2s ease-out;
}
.election-map .highlight-state {
  transition: fill 0.2s ease-out;
  cursor: pointer;
  fill: transparent;
  stroke: #efefef;
  stroke-width: 0;
}
.election-map .highlight-state:hover {
  fill: rgba(0, 0, 0, 0.03);
  stroke: #000000;
  stroke-width: 1.5px;
}
.election-map .state-label {
  text-anchor: middle;
  font-weight: 700;
  cursor: pointer;
  font-size: 15px;
}
.election-map .state-label .electoral-amount {
  font-weight: 400;
}
