@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "variables";
@import "fonts";
.election-map {

    shape-rendering: geometricPrecision;
    stroke-linecap: round;
    stroke-linejoin: round;

    font-family: $election-map-font-type;

    .state-path {
        stroke:#efefef;
        stroke-width:1px;
        transition: fill $election-map-animation-speed ease-out

    }


    .highlight-state {
        transition: fill $election-map-animation-speed ease-out;
        cursor: pointer;
        fill: transparent; 
        stroke: #efefef;
        stroke-width: 0;
       

        &:hover {
            fill: rgba(0,0,0,.03);
            stroke: #000000;
            stroke-width: 1.5px;
        }
    }

    .state-label {
        text-anchor: middle;
        font-weight:700;
        cursor: pointer;
        font-size: 15px;

        .electoral-amount {
            font-weight:400;
        }
        
    }

}